// Normally mainpage styles
 
 /*----------header----------*/

 .header{
	@include povh('');
 }
	
/*----------end-header----------*/	


/*----------main----------*/
 
 .main{
	@include povh('');
	padding: 0 0 23px 0;
 }
 	.bnr{
 		text-align: center;
 		padding-bottom: 12px;
 	}

 	.product_detail{
 		aside{
 			float: left;
 			width: 255px;
 			padding: 0 15px 0 0;
 			@include povh('');
 		}
 		article{
 			@include povh('');
 			p{
 				padding-bottom: 20px;
 				font-size: 14px;
 			}
 		}
 		h6{
 			position: relative;
			font-size: 14.5px;
			border-bottom: 1px solid #424242;
			text-align: center;
			text-transform: uppercase;
			padding-bottom: 5px;
			margin-bottom: 8px;
 		}
 		h5{
 			position: relative;
			font-size: 14.5px;
			border-bottom: 1px solid #424242;
			text-align: left;
			text-transform: uppercase;
			padding-bottom: 5px;
			margin-bottom: 8px;
			font-family: $bold;
 		}
 		.titles{
 			text-align: center;
 			padding-bottom: 30px;
 			h1{
 				font-size: 29px;
 				padding-bottom: 1px;
 				font-family: $book;
 				text-transform: uppercase;
 			}
 			h2{
				font-size: 42px;
				color: #a80000;
				font-family: $cubano;
				&.levi{
 					font-family: $Levi;
	 			}
	 			&.purple{
	 				color: #8a1dd7;
	 			}
 			}
 		}
 	}
 		.product_img{
 			img{
 				display: block;
 				padding-bottom: 16px;
 				margin: 0 auto;
 			}
 		}
 		.product_message{
 			text-align: center;
 			font-size: 12px;
 			h6{
 				border-bottom: none;
 				margin-bottom: 0;
 				&:before{
	 				content: '';
	 				position: absolute;
	 				left: 0;
	 				top: 38%;
	 				background:#282828;
	 				width: 100%;
	 				height:2px ;
	 			}
	 			img{
	 				position: relative;
	 				z-index: 2;
	 			}
 			}
 			p{
 				padding-bottom: 12px;
 			}
 			em{
 				text-transform: uppercase;
 				font-size: 10px;
 				font-style: normal;
 			}
 		}
 		.product_share{
 			nav{
 				padding:0 ;
 				text-align: center;
 				a{
 					width: 28px;
 					height: 22px;
 					background:#fff;
 					border: 1px solid #efefef;
 					display: inline-block;
 					margin: 0 1px;
 					font-size: 14px;
 					line-height: 22px;
 					i.fa-facebook{
 						color: #002176;
 					}
 					i.fa-twitter{
 						color: #15a6e8;
 					}
 					i.fa-pinterest-p{
 						color: #e0322a;
 					}
 					i.fa-envelope-o{
 						color: #00429e;
 					}
 					i.fa-print{
 						color: #4a4a4a;
 					}
 				}
 			}
 		}

	.more_products{
		text-align: center;
		padding: 20px 0 0 0;
		.container{
			overflow: visible;
		}
	}
		.title{
			position: relative;
			text-align: center;
			&:before{
				content: '';
				background:#515151;
				height: 1px;
				width: 100%;
				left: 0;
				position: absolute;
				top: 45%
			}
			span{
				padding: 0 13px;
				font-size: 25px;
				text-transform: uppercase;
				position: relative;
				z-index: 2;
				font-family: $bold;
				background:url(../img/bg_top.jpg) repeat center;
			}
		}

		.more_products_slider{
			width: 688px;
			margin: 0 auto;
			padding: 17px 0 0 0;
			li a img{
				
			}
			.bx-prev, .bx-next{
				position: absolute;
				top: 75px;
				left: -30px;
				width: 20px;
				height: 41px;
				background:url(../img/slider_arrow.png) no-repeat center;
				@include hide-text;
			}
			.bx-next{
				@include mirror_flip;
				left: auto;
				right: -30px;
			}
			.bx-pager{
				display: none;
			}
		}
		.return{
			padding: 35px 0 0 0;
		}
			.product_item{
				border: 1px solid #dadcdd;
				@include povh('');
				background:#fff;
				img{
					display: inline-block;
				}
				.product_img{
					float: left;
				}
				.product_item_text{
					@include povh('');
					text-align: center;
					img{
						max-width: 100%;
					}
					small{
						display: block;
						font-size: 9.5px;
						font-family: $book;
						text-transform: uppercase;
						padding: 9px 0 3px 0;
					}
					.product_title{
						font-size: 14px;
						color: #a80000;
						line-height: 0.95;
						padding-bottom: 7px;
						font-family: $cubano;
						&.wisdom{
							font-family: $Wisdom;
							color: #ff4bac;
						}
						&.core{
							font-family: $Core;
							color: #b618a1;
						}
					}
				}
			}
/*----------end main----------*/	

	
/*----------footer----------*/
 
 .footer{
	@include povh('');
 }

/*----------end footer----------*/

/*------------landing-----------*/
.bnr_top_text{
	width: 690px; 
	padding-bottom: 15px;
	& > img{
		float: left;
		padding: 0 45px 0 0 ;
	}
	section{
		overflow: hidden;
		padding: 19px 0 0 0 ;
		color: #000;
		font-size: 18px;
	}
}

.filter_wrap{
	select{
		width: 183px;
		height: 28px;
		background: #fff url(../img/select.png) no-repeat center right;
		box-shadow: inset 3px 4px 5px rgba(58,58,56,.29);
		border: solid 2px #f00;
		text-transform: uppercase;
		color: #000;
		font-size: 13px;
		-webkit-appearance: none;
		appearance: none; 
		padding: 0 34px 0 12px;
	}
}
	.filter_line{
		overflow: hidden;
		margin-bottom: 20px;
		margin-top: 11px;
		& > div{
			text-align: center;
			width: 33%;
			float: left;
			box-sizing: border-box;
		}
	}
	.filter_results{
		text-transform: uppercase;
		text-align: center;
		font-family: $bold;
		font-size: 16px;
		padding-bottom: 21px;
		strong{
			font-family: $bold;
		}
		span{
			color: #fff;
			background:#0053a0;
			display: inline-block;
			padding: 5px 10px;
			margin: 0 0 0 11px;
			i{
				margin-left: 8px;
			}
		}
	}
.product_list{
	display: flex;
	 flex-wrap: wrap;
 	 justify-content: space-between;
 	 a{
 	 	margin-bottom: 20px;
 	 	display: block;
 	 }
}
/*-----------end-landing-----------*/

		.coverflow-wrapper {
          position: relative;
          width: 735px;
          height: 265px;
          margin: 10px auto;
        }
        
        .coverflow-wrapper .coverflow {
          position: relative;
          width: 440px;
          height: 265px;
          margin: 0 auto;
        }
        
        .coverflow-wrapper  .cover {
          width: 541px;
          height: 264px;
        }
        .coverflow-wrapper  .cover img {
          width: 100%;
          height: 100%;
        }
        
        .coverflow-wrapper .buttons {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          text-align: center;
          z-index: 500;
          width: 100%;
        }
        
        .coverflow-wrapper .buttons > * {
          background: url(../img/gal_arrow.png) no-repeat;
          color: white;
          width: 11px;
          height: 92px;
          position: relative;
		    top: 80px;
          @include hide-text;
          cursor: pointer;
        }
        
        .coverflow-wrapper .buttons .coverflow-next { right: -60px;float: right;
			@include mirror_flip();
         }
        .coverflow-wrapper .buttons .coverflow-prev { left: -60px;float: left; }
        
        .coverflow-wrapper .dots {
          position: absolute;
          left: 0;
          right: 0;
          text-align: center;
          z-index: 500;
          margin-top: 3px;
          width: 100%;
        }
        
        .coverflow-wrapper .dots .coverflow-next,
        .coverflow-wrapper .dots .coverflow-prev {
          display: inline-block;
          vertical-align: middle;
          color: white;
          width: 20px;
          height: 20px;
          @include hide-text;
          position: relative;
          cursor: pointer;
          &:before{
          	content: '';
          	width: 0;
          	height: 0;
          	top: 4px;
          	position: absolute;
          	@include arr(10,10, #696968, l);
          }
        }
        	.coverflow-wrapper .dots .coverflow-next{
				&:before{
        		@include arr(10,10, #696968, r);
        		}
        	}
        
        .coverflow-wrapper .dots .dots-list {
          display: inline-block;
          vertical-align: middle;
        }
        
        .coverflow-wrapper .dots .dots-list .dot {
          display: inline-block;
          vertical-align: middle;
          background: #696968;
          cursor: pointer;
          width: 10px;
          border-radius: 50%;
          height: 10px;
          margin: 0 2px;
        }
        
        .coverflow-wrapper .dots .dots-list .dot.active {
          background: #ff0000;
        }